body {
  margin: 0 auto;
  font-family: Verdana;
}

#menuBar {
  width: 25%;
  height: 100vh;
  background-color:#e6f9ff;
  padding:20px;
  float:left;
}

#menuItem {
  width: fill;
  height: 40px;
  border-radius: 12px;
  background-color:#ccf2ff;
  margin:0 auto;
  text-align:center;
  padding-top:20px;
}

#mainBody {
  float: left;
  width:72%;
  height:100%;
}

#heading {
  height:100px;
  background-color:#ccf2ff;
  line-height:100px
}

#textBody {
  height:88vh;
  background-color:#efeff5;
  padding: 20px;
}

.fontStyle {
  font-size: 20;
}

.menuItem:hover{
  background-color:#e6f9ff;
}

#textBody b {
  color: #2d5986;
}